on:
  workflow_run:
    workflows: [Run tests]
    types: [completed]
    branches: [master]

name: Publish to NPM 

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v3

    # We run the various preparatory steps to ensure that they do, in fact, run.
    # This avoids nasty surprises when we actually do want to publish something.
    - name: Update node build 
      run: bash build.sh main

    - name: Update browser build
      run: bash build.sh browser 

    # We only run the remaining (remote-touching) steps if the version has actually changed.
    - name: Extract package versions
      shell: bash
      run: |
        current_version=$(cat package.json | grep "version" | sed -e 's/.*"\([0-9\.]*\)".*/\1/')
        echo "NEW_BAKANA_VERSION=${current_version}" >> $GITHUB_ENV
        old_version=$(npm view bakana version)
        update=0 && [[ $old_version != $current_version ]] && update=1
        echo "UPDATE_BAKANA=${update}" >> $GITHUB_ENV
        echo "Current version is ${current_version} (published ${old_version})"

    - uses: actions/setup-node@v3
      if: env.UPDATE_BAKANA == 1
      with:
        node-version: 16
        registry-url: 'https://registry.npmjs.org'

    - name: Publish to NPM
      if: env.UPDATE_BAKANA == 1
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Tagging the release
      if: env.UPDATE_BAKANA == 1
      uses: actions/github-script@v5
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/' + process.env.NEW_BAKANA_VERSION,
            sha: context.sha
          })        
