on: [push]

name: Run tests

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2

    - name: Restore the node modules
      uses: actions/cache@v2
      with:
        path: '**/node_modules'
        key: modules-${{ hashFiles('**/package.json') }}

    - name: Restore the dataset files 
      uses: actions/cache@v2
      with:
        path: '**/files/datasets'
        key: datasets-${{ hashFiles('**/files/download-datasets.sh') }}

    - name: Restore the reference files 
      uses: actions/cache@v2
      with:
        path: '**/files/references'
        key: references-${{ hashFiles('**/files/download-references.sh') }}

    - name: Restore the legacy files 
      uses: actions/cache@v2
      with:
        path: '**/files/legacy'
        key: references-${{ hashFiles('**/files/download-legacy.sh') }}

    - name: Install packages
      run: npm i --include-dev

    - name: Download datasets
      run: cd files && bash download-datasets.sh

    - name: Download references
      run: cd files && bash download-references.sh

    - name: Download legacy 
      run: cd files && bash download-legacy.sh

    - name: Run tests
      run: node --experimental-vm-modules --experimental-wasm-threads node_modules/jest/bin/jest.js --testTimeout=1000000 --runInBand
